.button {
  display: inline-block;
  padding: 0.5em 1.25em 0.6em;
  cursor: pointer;
  border: 0;
  line-height: 1;
  color: cl("white");
  background: cl("funda-blue-light");
  transition: background 0.2s;
  letter-spacing: 1px; 
  text-transform: uppercase;

  &--save {
    @extend .icon-star;
    background: cl("funda-orange");
    &:before { margin-right: 10px; }
  }

  &--blue {
    background: cl("funda-blue-dark");
  }

  &:hover {
    color: cl("white");
    background: cl("funda-blue-dark");
  }
}