.categories {
	@include bp("md+") { font-size: em(14px); }
	@include bp("lg+") {
		font-size: em(16px);
		float: right;
		margin-top: em(10px);
	}	

	li { margin-bottom: 0; }
	
	a,
	> li > span {
		color: cl("grey-text");
		padding-left: em(15px);
		padding-right: em(15px);
		display: block; 
		line-height: 1;
	}

	> li {
		> span,
		> a {
			display: block;
			padding-top: em(10px);
			padding-bottom: em(10px);
			cursor: pointer; 

			&:hover {
				background: cl("black");
				color: cl("white");
			}
		}

		// When it's a span el, it ALWAYS has sub
		> span { padding-right: em(25px); }

		@include bp("md-") {
			background: cl("black");
			color: cl("white");

			display: none;
		}

		@include bp("md+") {
			display: inline-block;
			&:not(:first-child) { margin-left: em(10px); }
		}
	}

	////////
	// Select feature
	&__select {
		display: none !important;
		position: relative;

		@extend .icon-arrow-down;
		&:before {
			position: absolute;
			right: 10px;
			top: 15px;
			font-size: em(10px);
		}

		@include bp("md-") {
			display: block !important;
		}
	}
	
	&.show-select {
		@at-root & .categories__select { @extend .icon-arrow-up; }
		> li { display: block; }
	}

	&.update-selected {
		@include bp("md-") {
			li:not(:first-child) { display: none; }
		}
	}
	// End: select feature
	////////

	&__has-sub {
		> ul { display: none; }

		> span {
			@extend .icon-arrow-down;
			position: relative;
			
			&:before {
				font-size: em(10px);
				position: absolute;
				top: 50%;
				right: 10px;
				margin-top: em(-3px);
			}
		}

		&.show-sub {
			position: relative;

			> span {
				@extend .icon-arrow-up;
				background: cl("black");
				color: cl("white");
			}

			> ul {
				@include bp("md+") {
					position: absolute;
					top: 31px;
					left: 0;
					min-width: em(250px);
					padding-top: em(10px);
					padding-bottom: em(10px);	
				}

				@include bp("lg+") { top: 36px; }

				display: block;
				background: #3e3e3e;
				font-size: em(14px);
			
				a {
					padding-top: em(7px);
					padding-bottom: em(7px);
					&:hover { color: cl("white"); }
				}
			}
		}
	}

	&__sub {
		background: cl("grey-text");
		a { color: #b5b5b5; 
			&:hover { color: cl("white"); }
		}
	}
}