// Calculation is on scss because blog is very much related to CMS. 
.content-focused {

	img { vertical-align: top; }
	h2, h3 { margin-bottom: 0; }

	.author {
		h4 { font-size: 16px; }
	}

	header {
		.icon-location:before { color: cl("grey-text"); }
		dt, dd {
			opacity: 1;
			float: none; 
			display: block;
			width: 100%; 
		}
		dd { 
			color: cl("grey-text"); 
			margin-bottom: map-get($spacing-distance, "xs")
		}
	}
	time,
	.author p, 
	.tag { color: cl("grey-text"); }

	time {
		display: inline-block;
		padding-top: 20px;
		border-top: solid 1px cl("grey-medium");
	}

	&__content {
		
		em { 
			font-style: normal; 
			color: cl("red");
		}

		p {
			margin-top: map-get($spacing-distance, "xs");
			margin-bottom: map-get($spacing-distance, "xs");

			@include bp("sm+") {
				margin-top: map-get($spacing-distance, "sm");
				margin-bottom: map-get($spacing-distance, "sm");
			}
		}

		@at-root & {
			h3, h4, h5 {
				margin-bottom: 10px;

				& + p { margin-top: 0; }
			}
		}

		form, p {
			@include bp("md+") {
				width: ((6/9)*100%);
			}
		}

		figure {
			@extend .clearfix;
			
			@include bp("md+") {
				> div {
					max-height: 300px;
					overflow: hidden;
					display: block;
					float: left;
					max-width: ((7.5/10)*100%);
				}
			}

			@include bp("lg+") {
				margin-left: -((1/10)*100%);

				> div { max-height: 100%; }
			}
		}

		figcaption {
			font-size: em(14px);
			margin-top: 10px; 

			@include bp("md+") {
				width: ((2.2/10)*100%);
				margin-top: 20px; 
				float: right;
			}
		}

	}

	&__share {
		background: cl("white");
		padding: 20px 20px 0 20px;

		p { margin: 0; }

		@include bp("md+") {
			float: right;
			width: ((2/9)*100%);
		}
	}

	blockquote {
		@extend .h1;
		
		p { width: 100%; }

		cite {
			font-size: 14px;
			border-top-color: #d8d8d8;
			margin-top: 0;	
			padding-top: 0;

			@include bp("lg+") {
				font-size: 16px;
			}
		}

		@include bp("lg+") {
			margin-left: -((2/9)*100%);
			width: ((10/9)*100%);
		}

	}

}
