input, textarea {
  border: 1px solid cl("grey-medium");
  font-family: $font-sans-serif;
  font-size: 1em;
  font-weight: 300;
  transition: border 0.2s; 
  &:focus { 
    outline: none; 
    border-color: cl("grey-text");
  }
  &[placeholder]:focus::-webkit-input-placeholder {
    // makes the placeholder text disapear on focus
    transition: opacity 0.5s 0 ease;
    opacity: 0;
  }
  &[type="email"], &[type="text"], &[type="password"] { width: 100%; }
}


form.inside-content {
  legend { @extend .h3; }
  label { 
    display: block;
    color: cl("grey-text"); 
    line-height: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  border-bottom: 1px solid cl("grey-medium");
  
  .input {
    @extend .clearfix;
    margin-bottom: 10px;
    @include bp("md+") { margin-bottom: 20px; }
  
    > label {
      @include bp("md+") {
        width: 35%;
        float: left;
      }
    }


    > input, 
    > textarea, 
    &__inputs {
      @include bp("md+") {
        width: 65%;
        float: left;
      }
    }

    &__inputs { 
      label { width: 100%; }
    }
  }

  input[type="submit"] { margin-top: map-get($spacing-distance, "sm"); }

}