@-moz-keyframes spin {
	from { -webkit-transform:scale(.6); }
	to { -webkit-transform:scale(.8); }
}
@-webkit-keyframes spin {
	from { -webkit-transform:scale(.6); }
	to { -webkit-transform:scale(.8); }
}
@keyframes spin {
	from { -webkit-transform:scale(.6); }
	to { -webkit-transform:scale(.8); }
}

.gallery {
	&__image {
		position: relative;
		img { width: 100%; height: auto; }
	}

	&__btn {
		width: 35px;
		height: 35px;
		position: absolute;
		line-height: 35px;
		text-align: center;
		transition: all 0.2s;
		outline: none;

		&:after {
			display: block;
			content: "";
			width: 35px;
			height: 35px;
			border-radius: 50%;
			background: rgba(255, 255, 255, 0.8);
			-webkit-animation: spin 1s infinite alternate;
			animation: spin 1s infinite alternate;
			position: absolute;
			top: 0;
			left: 0;
			transition: all 0.2s;
		}

		&:hover {
			transition: all 0.2s;
			&:after { animation: none; }

			.infobox {
				opacity: 1;
			}
		}

		.icon-search {
			z-index: 10;
			font-size: 12px;
			position: relative;
		}
		
		.infobox {
			opacity: 0;
			transition: opacity 0.2s;
			background: rgba(255, 255, 255, 0.7);
			padding: 10px;
			min-width: 100px;
			max-width: 200px;
			text-align: left;
			line-height: 1;
			position: absolute;
			top: 45px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
}

.popup-modal-dismiss {
	position: absolute;
	top: 20px;
	right: 20px;
}

.option {
	position: relative;
	margin-bottom: 20px; 
	h3 {margin-bottom: 0;}
	> div { 
		display: inline-block;
		vertical-align: top;
		margin-left: -4px;
	}
	&__img { 
		width: 140px;
		margin-right: 20px;
		position: relative;

		img { 
			max-width: 100%; 
			border: solid 2px cl("grey-medium"); 
			box-sizing: border-box;
		}

		span { 
			display: inline-block;
			background: cl("funda-blue-dark");
			color: cl("white");
			position: absolute;
			top: 0;
			left: 0;
			padding: 5px;
			line-height: 1;
			font-size: 14px;
			text-transform: uppercase;

			&.ori { background: cl("funda-orange"); }
		}
	}
	&__content {
		min-width: 60%;
	}
	&__btn {
		position: absolute;
		top: 0;
		right: 0;
	}
}

// Flickity effect
.gallery-flickity {
	&:hover {
		button { opacity: 0.5; 
			&:hover { opacity: 1; }
		}
	}
}