.hero {
	background: rgba(115, 207, 247, 0.2);
	padding: em(10px);
	margin: em(20px) 0;
	a { color: cl("black"); }
	h2, p { margin: 0; }
	@include bp("md+") { 
		padding: em(20px); 
		margin: em(40px) 0;
	}
}