.arrow-list {
  list-style: none;
  padding-left: 0;
 
  li { @extend %arrow-red-left; }
}

.filetype {
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid cl("grey-text");
  padding: 4px 7px;
  margin-right: 10px;
}

.downloads-list {
  a { 
    color: cl("black");
    &:hover { color: cl("grey-text"); }
  }
}