.more-info {
  h3 { color: cl("black"); }
  li { margin-bottom: 0; }
  &__inner {
    background-repeat: no-repeat;
    background-position: 1000%;
    text-align: center;
    @include bp("sm+") { text-align: left; }
    @include bp("md+") { background-position: bottom left; }
  }
  &__photo {
    display: none;
    @include bp("md+") { display: block; }
  }
}