// .quote {
//   @include bp("sm+") { display: table-row; }
//   .quote__image, .quote__text {
//     @include bp("sm+") {
//       width: 50%;
//       display: table-cell;
//     }
//   }
//   .quote__image {
//     min-height: 400px;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//   }
//   .quote__text {
//     background-color: cl("brown");
//     padding: 20px;
//     @include bp("sm+") { padding: 40px; }
//     @include bp("md+") { padding: 50px; }
//     @include bp("lg+") { padding: 60px; }
//   }
//   .quote__text-inner {
//     min-height: 400px;
//   }
// }

.quote--half {
  @include bp("sm+") { display: table-row; }
  .quote__image, .quote__text {
    @include bp("sm+") {
      width: 50%;
      display: table-cell;
    }
  }
  .quote__image {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .quote__text {
    background-color: cl("brown");
    padding: 20px;
    @include bp("sm+") { padding: 40px; }
    @include bp("md+") { padding: 50px; }
    @include bp("lg+") { padding: 60px; }
  }
  .quote__text-inner {
    min-height: 400px;
  }
}


.quote--full {
  .quote__image {
    position: relative;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .quote__text {
    color: cl("white");
    z-index: 10;
    padding: 0 20px;
    max-width: 880px;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    position: absolute;
    transform: translateY(-50%);
  }
  .quote__text-inner {
    
  }
}