.related {
  @include bp("sm+") {
    display: flex;  
  }
  
  &__item {
    position: relative;
    width: 100%;
  }
  &__text {
    position: absolute;
    left: 15px;
    bottom: 15px;
  }
  &__inner {
    color: cl("white");
  }
  img {
    display: block;
    width: 100%;
  }
}