%article.container.content--horizontal.xs-mt-1
  .row
    .xs-12.md-2
      %h2.h3= t('downloads')
    - data.downloads.each do |download|
      .xs-12.md-3.xs-mb-2
        %h4= download.title
        %ul.list-unstyled.downloads-list
          - download.items.each do |item|
            %li
              = link_to "#" do
                %span.filetype PDF
                = item