%article
	.hero
		= link_to "/inspiration-overview.html" do
			%h2 Check our new Inspiration page.
			%p Create an account and keep track! Share, discover, and find out where to buy.

/ %article.gallery-flickity
		
/ 	.hero{:class => "b-lazy", :data => {"src" => "images/hero-sm.jpg", "src-sm" => "images/hero-sm.jpg", "src-md" => "images/hero-md.jpg", "src-lg" => "images/hero-lg.jpg", "src-xl" => "images/hero.jpg"}}
/ 		.hero__wrap
/ 			.hero__caption
/ 				%h2 Stadskantoor Utrecht
/ 				%p Een omgeving waar iedereen in Utrecht zich thuis voelt.
	
/ 	.hero{:class => "b-lazy", :data => {"src" => "images/hero-sm.jpg", "src-sm" => "images/hero-sm.jpg", "src-md" => "images/hero-md.jpg", "src-lg" => "images/hero-lg.jpg", "src-xl" => "images/hero.jpg"}}
/ 		.hero__wrap
/ 			.hero__caption
/ 				%h2 Stadskantoor Utrecht
/ 				%p Een omgeving waar iedereen in Utrecht zich thuis voelt.
