%article
	.hero
		= link_to "/inspiration-overview.html" do
			.hero__icon.icon-bulb
			.hero__content
				%h2 Check our new Inspiration page.
				%p Create an account and keep track! Share, discover, and find out where to buy.
				%span.hero__button.button.button--blue Ga naar overview