.container
	.row
		-# blocks on Homepage
		.xs-12.blocks__intro
			.lg.blocks__intro__with-content
				.blocks__intro__with-content__text
					%div
						%h1 Ahrend. Inrichting.
						%p Wij creëren ruimtes voor mensen om te kunnen werken, leren en leven. Met slimme producten en gericht op het dagelijkse gebruik. En dat doen we al sinds 1931.
						= link_to "meer over ons", "#"
				
				%a.sm-indented.blocks__intro__with-content__img{:class => "b-lazy popup-image", :href => "images/block-sm-lg.jpg", :data => {"src" => "images/block-sm-lg.jpg", "src-sm" => "images/block-sm-lg.jpg", "src-md" => "images/block-sm-lg.jpg", "src-lg" => "images/block-sm-lg.jpg", "src-xl" => "images/block-sm-lg.jpg"}}

				%a.sm-indented.blocks__intro__with-content__img{:class => "b-lazy popup-image", :href => "images/white_chair.jpg", :data => {"src" => "images/white_chair.jpg", "src-sm" => "images/white_chair.jpg", "src-md" => "images/white_chair.jpg", "src-lg" => "images/white_chair.jpg", "src-xl" => "images/white_chair.jpg"}}

			%a.lg{:class => "b-lazy popup-image", :href => "images/block-lg-sm.jpg", :data => {"src" => "images/block-lg-sm.jpg", "src-sm" => "images/block-lg-sm.jpg", "src-md" => "images/block-lg-md.jpg", "src-lg" => "images/block-lg-lg.jpg", "src-xl" => "images/block-lg-sm.jpg"}}