- if amount == 1
  %article.container.content--horizontal.xs-mt-1
    .row
      .xs-12.md-2
        %h3 Gerelateerd
      .xs-12.md-10.xs-mb-2
        .blocks
          %a.longest{:class => "b-lazy popup-video", :href => "http://www.youtube.com/watch?v=-jmBO6Smits", :data => {"src" => "images/block-long-sm.jpg", "src-sm" => "images/block-long-sm.jpg", "src-md" => "images/block-long-md.jpg", "src-lg" => "images/block-long-lg.jpg", "src-xl" => "images/block-long-lg.jpg"}}
            .blocks__label.blocks__label--white Research

- elsif amount == 2
  %article.container.content--horizontal.xs-mt-1
    .row
      .xs-12.md-2
        %h3 Gerelateerd
      .xs-12.md-10.xs-mb-2
        .blocks
          %a.long-taller{:href => "#", :class => "b-lazy", :data => {"src" => "images/related/durability.jpg", "src-sm" => "images/related/durability.jpg", "src-md" => "images/elated/durability.jpg", "src-lg" => "images/related/durability.jpg", "src-xl" => "images/related/durability.jpg"}}
            .blocks__label.blocks__label--white Duurzaamheid
          %a.long-taller{:href => "#", :class => "b-lazy", :data => {"src" => "images/related/ergonomics.jpg", "src-sm" => "images/related/ergonomics.jpg", "src-md" => "images/related/ergonomics.jpg", "src-lg" => "images/related/ergonomics.jpg", "src-xl" => "images/related/ergonomics.jpg"}}
            .blocks__label.blocks__label--black Ergonomie

- elsif amount == 3
  %article.container.content--horizontal.xs-mt-1
    .row
      .xs-12.md-2
        %h3 Gerelateerd
      .xs-12.md-10
        .blocks
          %a.md{:href => "#", :class => "b-lazy", :data => {"src" => "images/related/durability.jpg", "src-sm" => "images/related/durability.jpg", "src-md" => "images/elated/durability.jpg", "src-lg" => "images/related/durability.jpg", "src-xl" => "images/related/durability.jpg"}}
            .blocks__label.blocks__label--white Duurzaamheid
          %a.md{:href => "#", :class => "b-lazy", :data => {"src" => "images/related/ergonomics.jpg", "src-sm" => "images/related/ergonomics.jpg", "src-md" => "images/related/ergonomics.jpg", "src-lg" => "images/related/ergonomics.jpg", "src-xl" => "images/related/ergonomics.jpg"}}
            .blocks__label.blocks__label--black Ergonomie
          %a.md{:href => "#", :class => "b-lazy", :data => {"src" => "images/related/ergonomics.jpg", "src-sm" => "images/related/ergonomics.jpg", "src-md" => "images/related/ergonomics.jpg", "src-lg" => "images/related/ergonomics.jpg", "src-xl" => "images/related/ergonomics.jpg"}}
            .blocks__label.blocks__label--black Ergonomie

