%article.container.content--horizontal.xs-mt-2
  .row
    .xs-12.md-2
      %h2.h3= t('specifications')
    - data.specifications.each do |spec|
      .xs-12.sm-4.md-3.xs-mb-2
        %h4= spec.title
        %ul.arrow-list
          - spec.items.each do |item|
            %li= item