.container.content--horizontal.xs-mt-2
  .row
    .xs-12.blocks.blocks__has-spacing
      .sm{:class => "sm__is-text sm__is-intro"}
        %div.no-padding
          %h2.h3 Toegepaste producten
      .sm{:class => "b-lazy", :data => {"src" => "images/product-square.jpg", "src-sm" => "images/product-square.jpg", "src-md" => "images/product-square.jpg", "src-lg" => "images/product-square.jpg", "src-xl" => "images/product-square.jpg"}}
      .long{:class => "b-lazy", :data => {"src" => "images/product-rect.jpg", "src-sm" => "images/product-rect.jpg", "src-md" => "images/product-rect.jpg", "src-lg" => "images/product-rect.jpg", "src-xl" => "images/product-rect.jpg"}}
      .sm{:class => "b-lazy", :data => {"src" => "images/product-square.jpg", "src-sm" => "images/product-square.jpg", "src-md" => "images/product-square.jpg", "src-lg" => "images/product-square.jpg", "src-xl" => "images/product-square.jpg"}}
      .long{:class => "b-lazy", :data => {"src" => "images/product-rect.jpg", "src-sm" => "images/product-rect.jpg", "src-md" => "images/product-rect.jpg", "src-lg" => "images/product-rect.jpg", "src-xl" => "images/product-rect.jpg"}}
      .sm{:class => "b-lazy", :data => {"src" => "images/product-square.jpg", "src-sm" => "images/product-square.jpg", "src-md" => "images/product-square.jpg", "src-lg" => "images/product-square.jpg", "src-xl" => "images/product-square.jpg"}}