%article.container.content--horizontal.xs-mt-2
  .row
    .xs-12.md-2
      %h2.h3 De opdracht
    .xs-12.md-7
      %p.no-margin Energiebedrijf Nuon verhuisde eind vorig jaar naar een bestaand kantoorgebouw in Amsterdam Zuidoost. Op het wensenlijstje van de opdrachtgever stonden niet alleen energielabel A en Breeam ‘Very Good’, maar ook een interieur geschikt voor Het Nieuwe Werken. Om deze samen te kunnen huisvesten in een energiezuinig en duurzaam gebouw dat is ingericht voor het Nieuwe Werken, moest eerst het nodige werk worden verzet. “De Architecten Cie. heeft de schil van het gebouw en de installaties aangepast aan de huidige eisen”.

%article.container.content--horizontal.xs-mt-2
  .row
    .xs-12.md-2
      %h2.h3 De oplossing
    .xs-12.md-7
      %p.no-margin Er is daarom vooral gebruik gemaakt van natuurlijke materialen als beton, bamboo, glas en vilt en recyclebare producten. Een leuk en opvallend detail, de uitgefreesde teksten in het plafond! Ahrend verzorgde het meubilair voor onder andere het restaurant, docentenkamers, vergaderkamers en de collegezaal. Een mooi project waar we trots op zijn!