.container.xs-pt-4.xs-pb-4
  .row
    .xs-12.md-7
      %h2.h1 Nuon Amsterdam
      %h3 Nuon is verhuisd naar Nieuw Amsterdam, het kantoorgebouw aan het Hoekenrodeplein in Amsterdam Zuidoost. Het volledig gerenoveerde kantoor biedt ruimte aan 2100 medewerkers die voorheen verspreid waren over verschillende locaties.