%article.container.content--horizontal.xs-mt-2.xs-mb-4
  .row
    .xs-12.md-2
      %h2.h3 Partners
    .xs-12.md-8
      %ul.list-horizontal.list-unstyled.horizontal-icons
        %li= image_tag "logo_1.png"
        %li= image_tag "logo_2.png"