//
// Icon Font: funda
//

@font-face {
  font-family: "funda";
  src: font-url("funda_17f7fa18d3304cdaade4192bca3966c8.eot");
  src: font-url("funda_17f7fa18d3304cdaade4192bca3966c8.eot?#iefix") format("embedded-opentype"),
       font-url("funda_17f7fa18d3304cdaade4192bca3966c8.woff") format("woff"),
       font-url("funda_17f7fa18d3304cdaade4192bca3966c8.ttf") format("truetype"),
       font-url("funda_17f7fa18d3304cdaade4192bca3966c8.svg#funda") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "funda";
    src: url("funda_17f7fa18d3304cdaade4192bca3966c8.svg#funda") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-address-book:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-up:before,
.icon-bookmark:before,
.icon-books:before,
.icon-bulb:before,
.icon-calculator:before,
.icon-calendar:before,
.icon-camera:before,
.icon-clock:before,
.icon-close:before,
.icon-facebook:before,
.icon-file-pdf:before,
.icon-file-text:before,
.icon-film:before,
.icon-folder-download:before,
.icon-google-plus:before,
.icon-heart:before,
.icon-images:before,
.icon-instagram:before,
.icon-key:before,
.icon-linkedin:before,
.icon-location:before,
.icon-mail:before,
.icon-menu:before,
.icon-pencil:before,
.icon-phone:before,
.icon-pinterest:before,
.icon-play:before,
.icon-plus:before,
.icon-printer:before,
.icon-profile:before,
.icon-search:before,
.icon-share:before,
.icon-star:before,
.icon-tags:before,
.icon-twitter:before,
.icon-youtube:before,
.icon-zoom-in:before {
  display: inline-block;
  font-family: "funda";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-address-book:before { content: "\f2fd"; }
.icon-arrow-down:before { content: "\f2eb"; }
.icon-arrow-left:before { content: "\f2ec"; }
.icon-arrow-right:before { content: "\f2ed"; }
.icon-arrow-up:before { content: "\f2ee"; }
.icon-bookmark:before { content: "\f2fe"; }
.icon-books:before { content: "\f2ff"; }
.icon-bulb:before { content: "\f313"; }
.icon-calculator:before { content: "\f300"; }
.icon-calendar:before { content: "\f301"; }
.icon-camera:before { content: "\f302"; }
.icon-clock:before { content: "\f303"; }
.icon-close:before { content: "\f2ef"; }
.icon-facebook:before { content: "\f2f0"; }
.icon-file-pdf:before { content: "\f304"; }
.icon-file-text:before { content: "\f305"; }
.icon-film:before { content: "\f306"; }
.icon-folder-download:before { content: "\f307"; }
.icon-google-plus:before { content: "\f2f1"; }
.icon-heart:before { content: "\f308"; }
.icon-images:before { content: "\f309"; }
.icon-instagram:before { content: "\f2f2"; }
.icon-key:before { content: "\f30a"; }
.icon-linkedin:before { content: "\f2f3"; }
.icon-location:before { content: "\f2f4"; }
.icon-mail:before { content: "\f2f5"; }
.icon-menu:before { content: "\f2f6"; }
.icon-pencil:before { content: "\f30b"; }
.icon-phone:before { content: "\f30c"; }
.icon-pinterest:before { content: "\f2f7"; }
.icon-play:before { content: "\f2f8"; }
.icon-plus:before { content: "\f2f9"; }
.icon-printer:before { content: "\f30d"; }
.icon-profile:before { content: "\f30e"; }
.icon-search:before { content: "\f2fa"; }
.icon-share:before { content: "\f30f"; }
.icon-star:before { content: "\f310"; }
.icon-tags:before { content: "\f311"; }
.icon-twitter:before { content: "\f2fb"; }
.icon-youtube:before { content: "\f2fc"; }
.icon-zoom-in:before { content: "\f312"; }

$font-funda-address-book: "\f2fd";
$font-funda-arrow-down: "\f2eb";
$font-funda-arrow-left: "\f2ec";
$font-funda-arrow-right: "\f2ed";
$font-funda-arrow-up: "\f2ee";
$font-funda-bookmark: "\f2fe";
$font-funda-books: "\f2ff";
$font-funda-bulb: "\f313";
$font-funda-calculator: "\f300";
$font-funda-calendar: "\f301";
$font-funda-camera: "\f302";
$font-funda-clock: "\f303";
$font-funda-close: "\f2ef";
$font-funda-facebook: "\f2f0";
$font-funda-file-pdf: "\f304";
$font-funda-file-text: "\f305";
$font-funda-film: "\f306";
$font-funda-folder-download: "\f307";
$font-funda-google-plus: "\f2f1";
$font-funda-heart: "\f308";
$font-funda-images: "\f309";
$font-funda-instagram: "\f2f2";
$font-funda-key: "\f30a";
$font-funda-linkedin: "\f2f3";
$font-funda-location: "\f2f4";
$font-funda-mail: "\f2f5";
$font-funda-menu: "\f2f6";
$font-funda-pencil: "\f30b";
$font-funda-phone: "\f30c";
$font-funda-pinterest: "\f2f7";
$font-funda-play: "\f2f8";
$font-funda-plus: "\f2f9";
$font-funda-printer: "\f30d";
$font-funda-profile: "\f30e";
$font-funda-search: "\f2fa";
$font-funda-share: "\f30f";
$font-funda-star: "\f310";
$font-funda-tags: "\f311";
$font-funda-twitter: "\f2fb";
$font-funda-youtube: "\f2fc";
$font-funda-zoom-in: "\f312";
