@each $color, $hex in $colors {
	@if length($hex) > 1 {
		.bg-#{$color} {
			background-color: nth($hex, 1);
		}
  }
  .color-#{$color} {
    color: nth($hex, 1);
  }
}

body {
	padding: 0;
	margin: 0;
  color: cl("black");
  background-color: cl("white");
  &.menu-active { overflow-x: hidden; }
}

.bottom-separator {
  &:after {
    width: 110px;
    height: 1px;
    background-color: cl("grey-text");
    content: "";
    display: block;
    margin-top: 1em;
  }
  &--light { 
    &:after { background-color: cl("grey-medium"); }
  }
}

.horizontal-icons {
  font-size: 20px;
  li {
    vertical-align: middle;
    margin: 5px 14px 5px 0px;
    &:first-child { margin-left: 0; }
    &:last-child  { margin-right: 0; }
  }
  a { color: cl("grey-text"); }
}

img {
  @include bp("sm-") {
    max-height: 320px;
  }
}

footer {
  padding: 30px 0;
  background: cl("grey-dark");
  text-align: center;
  font-size: 14px;
  margin-top: 60px;

  li { margin: 0; 
    &:first-child a { 
      border-left: 0; 
      padding-left: 0;
    }
  }

  a { 
    padding: 0 10px;
    color: cl("white"); 
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    &:hover { color: cl("funda-blue-light"); }
  }
}