$theming: (

  bluelight: (
    bg:  rgba(115, 207, 247, 0.15),
    color: cl("black"),
    colorLink: cl("funda-blue-dark")
  ), 

  greylight: (
    bg:  rgba(0, 0, 0, 0.15),
    color: cl("black"),
    colorLink: cl("funda-blue-dark")
  )
);

@each $type, $background, $color in $theming {
	.theme {
		&--#{$type} {
			background: map-get-deep($theming, "#{$type}", "bg");

			h1, h2, h3, h4, 
			.h1, .h2, .h3, .h4,
			.horizontal-icons a,
			a { color: map-get-deep($theming, "#{$type}", "colorLink"); }

		}
	}
}