.container.content--horizontal
	.row
		.xs-12.blocks
			.sm{:class => "sm__is-text"}
				%div
					%h2.h3 Impressie
			.sm{:class => "b-lazy", :data => {"src" => "images/product-square.jpg", "src-sm" => "images/product-square.jpg", "src-md" => "images/product-square.jpg", "src-lg" => "images/product-square.jpg", "src-xl" => "images/product-square.jpg"}}
			.long{:class => "b-lazy", :data => {"src" => "images/product-rect.jpg", "src-sm" => "images/product-rect.jpg", "src-md" => "images/product-rect.jpg", "src-lg" => "images/product-rect.jpg", "src-xl" => "images/product-rect.jpg"}}