%article.xs-mb-2
  .hero.hero--tall{:class => "b-lazy", :data => {"src" => "images/new_york.jpg", "src-sm" => "images/new_york.jpg", "src-md" => "images/new_york.jpg", "src-lg" => "images/new_york.jpg", "src-xl" => "images/new_york.jpg"}}