%article.container
	.row.xs-pt-2.xs-pb-2
		.xs-12
			%h2.color-grey Bezoek &amp; vergaderstoelen

			.blocks.blocks__has-spacing
				%a.sm{href: "product.html", :class => "b-lazy", :data => {"src" => "images/product-1.png", "src-sm" => "images/product-1.png", "src-md" => "images/product-1.png", "src-lg" => "images/product-1.png", "src-xl" => "images/product-1.png"}}
					.blocks__label.blocks__label--black Ahrend 463
				
				%a.sm{href: "product.html", :class => "b-lazy", :data => {"src" => "images/product-2.png", "src-sm" => "images/product-2.png", "src-md" => "images/product-2.png", "src-lg" => "images/product-2.png", "src-xl" => "images/product-2.png"}}
					.blocks__label.blocks__label--black Ahrend 460

				%a.long{href: "product.html", :class => "b-lazy", :data => {"src" => "images/product-3.png", "src-sm" => "images/product-3.png", "src-md" => "images/product-3.png", "src-lg" => "images/product-3.png", "src-xl" => "images/product-3.png"}}
					.blocks__label.blocks__label--black Ahrend 312

				%a.long{href: "product.html", :class => "b-lazy", :data => {"src" => "images/product-4.png", "src-sm" => "images/product-4.png", "src-md" => "images/product-4.png", "src-lg" => "images/product-4.png", "src-xl" => "images/product-4.png"}}
					.blocks__label.blocks__label--black Ahrend 370
				
				%a.sm{href: "product.html", :class => "b-lazy", :data => {"src" => "images/product-5.png", "src-sm" => "images/product-5.png", "src-md" => "images/product-5.png", "src-lg" => "images/product-5.png", "src-xl" => "images/product-5.png"}}
					.blocks__label.blocks__label--black Ahrend 2020
				
				%a.sm{href: "product.html", :class => "b-lazy", :data => {"src" => "images/product-6.png", "src-sm" => "images/product-6.png", "src-md" => "images/product-6.png", "src-lg" => "images/product-6.png", "src-xl" => "images/product-6.png"}}
					.blocks__label.blocks__label--black Ahrend 350