-# .xs-pt-2.xs-pb-2
-# %article.container
-#   .row.xs-pt-2.xs-pb-2  
-#     .xs-12.lg-5
-#       %h1 Ahrend Balance
-#       %h2.h3.bottom-separator Vind de juiste balans tussen comfort, concentratie en collegialiteit.
-#       %ul.list-unstyled.list-horizontal.horizontal-icons.xs-mb-2
-#         %li= image_tag "product_logo.png"
-#         %li= image_tag "product_logo.png"
-#         %li= image_tag "product_logo.png"

-#     .xs-12.lg-5
-#       = image_tag "balance.png", class: "fullwidth-image"
-#               

%article.hero--split

  .hero__split-text
    %h1 Ahrend Balance
    %h2.h3.bottom-separator Vind de juiste balans tussen comfort, concentratie en collegialiteit.
    %ul.list-unstyled.list-horizontal.horizontal-icons.xs-mb-2
      %li= image_tag "product_logo.png"
      %li= image_tag "product_logo.png"
      %li= image_tag "product_logo.png"

  .hero__split-image= image_tag "balance.png", class: "fullwidth-image"
