%article.container
  .row.xs-pt-2.xs-pb-1
    .xs-12.lg-4
      %h1 Evenementen

    .xs-12.lg-8
      %ul.list-unstyled.categories           
        %li= link_to "Artikelen", "#"
        %li= link_to "Evenementen", "#"

