%article.container
  .row.xs-pt-2.xs-pb-2
    .xs-12.lg-2
      %h1 Artikelen

    .xs-12.lg-10
      %ul.list-unstyled.categories
        %li= link_to "Artikelen", "#"
        %li= link_to "Evenementen", "#"

